
@media(min-width: 768px) {
    .news-input{
        width: 50%;
    }
}
body::before {
    display: block;
    content: '';
    height: 60px;
}


@keyframes scaleUp {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  /* Apply the animation to the button when it is hovered over */
  .animated-btn:hover {
    animation: scaleUp 0.5s ease-in-out;
  }


  #content {
    display: none;
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
  }




